extends default 
block main
    h1.title Lists
    br
    div.row
        each list in lists 
            div.col-lg-3.col-12#list-item-container
                a(href=`/lists/${list.id}`) 
                    table 
                        tr 
                            td 
                                img(src=`${list.image}`)
                            td 
                                |#{list.name}
                